.navbar-container{
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: var(--primary-color);
    background-color:rgba(37, 39, 45, 0.4);
    border-radius: 60px;
    border: 1px solid var(--white-color);
    display: flex;
    font-family: 'Comfortaa';
    height: 78px;
    justify-content: space-between;
    margin: 0 15%;
    padding: 10px 42px;
    position: fixed;
    top: 48px;
    width: 70%;
    z-index: 100;
}

.navbar__logo-container{
    align-items: center;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
}

.navbar__logo{
    width: 72px;
}

.navbar__links-container{
    align-items: center;
    color: var(--white-color);
    display: flex;
    gap: 28px;
    text-decoration: none;
}

.navbar__button{
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--white-color);
    padding: 6px 12px;
}

.navbar__link{
    color: var(--white-color);
    font-weight: 600;
    text-decoration: none;
    transition-property: color;
    transition: 0.2s ease;
}

.navbar__link:hover{
    color: var(--secondary-color);
}