.card-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 28px 24px;
    width: 600px;
    height: 600px;
    border-radius: 36px;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.card-container--1{
    background-image: radial-gradient(70% 81% at 51% 8%, #074560FF 1%, #718CF600 95%),linear-gradient(0deg, #04364AFF 1%, #04364AFF 100%);
}

.card-container--2{
    background: rgb(35,154,194);
background: radial-gradient(circle, rgba(35,154,194,1) 0%, rgba(23,107,135,1) 100%);
}

.card-container--3{
    background: rgb(151,126,228);
background: radial-gradient(circle, rgba(151,126,228,1) 0%, rgba(89,40,237,1) 100%);
}

.card-container img{
    padding: 0 4rem 1rem 4rem;
    border-radius: 36px;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.card__icon{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(70% 81% at 51% 8%, #074560FF 1%, #718CF600 95%),linear-gradient(0deg, #04364AFF 1%, #04364AFF 100%);
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.card__image{
    object-fit: cover;
}


@media (width <= 768px){
    .card-container{
        width: 70vw;
        height: clamp(480px, 3vh + 1rem, 680px);
    }
}
