.landing-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.landing__header{
    font-size: 96px;
    line-height: 96px;
    padding: 0 15%;
    font-family: 'Poppins';
    text-align: center;
    text-wrap: pretty;
    color: var(--white-color);
}

.landing__header__text-highlighted{
    color: var(--secondary-color);
    font-weight: 600;
}

.landing__buttons-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}