.title {
    font-size: clamp(48px, 7vw + 1rem, 60px);
    line-height: clamp(48px, 7vw + 1rem, 60px);
    font-family: 'Poppins', sans-serif;
    text-wrap: balance;
    font-weight: 700;
}

.subtitle {
    font-size: 20px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    text-wrap: balance;
    font-weight: 600;
}

.paragraph {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Comfortaa', sans-serif;
    text-wrap: pretty;
    font-weight: 400;
}

.highlighted {
    font-weight: 600;
    color: var(--cerulean);
}

.white {
    color: var(--seasalt);
}

.black {
    color: var(--raisin-black);
}

.purple {
    color: var(--electric-indigo);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

@media (width <=768px) {
    .paragraph {
        font-size: 14px;
        line-height: 14px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 18px;
    }
}