.invitation-container{
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 90vh;
    width: 100%;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-color: #25272D;
    
}

.invitation__background{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1245' height='149.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%235928ED' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    mix-blend-mode: lighten;
    background-size: 300%;
    background-position-x: -400vh;
    animation-name: wave;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.invitation__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Altura del degradado superior */
    background: linear-gradient(to bottom, var(--prussian-blue), transparent); /* Degradado que se desvanece hacia abajo */
}

.invitation__background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Altura del degradado inferior */
    background: linear-gradient(to top, var(--raisin-black), transparent); /* Degradado que se desvanece hacia arriba */
}

@keyframes wave{
    0%{
        background-position-x: -400vh;
    }
    50%{
        background-position-x: 400vh;
    }
    
    100%{
        background-position-x: -400vh;
    }

}



.invitation__title{
    mix-blend-mode: difference;
    font-size: 85px;
    line-height: 60px;
    text-overflow: hidden;
    display: inline-block;
    white-space: pre-wrap;
    max-width: 100vw;
    word-break: normal;
    
    
}

.invitation__buttons-container{
    z-index: 2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.invitation__characters-wrapper{
    z-index: 2;
    text-align: center;
    justify-content: center;
    font-size: clamp(30px, 7vw + 1rem, 60px);
    line-height: clamp(33px, 7vw + 1rem, 60px);
    font-family: 'Poppins', sans-serif;
    text-wrap: balance;
    font-weight: 700;
    color: var(--seasalt);
    width: 100%;
    max-width: 100vw;
    hyphens: auto;
    gap: 4rem;
    flex-direction: column;
}

@media(width < 600px ){

    .invitation__buttons-container{
        gap:24px
    }
    
}


@media(width>= 600px) and (width <= 800px){
    .invitation__buttons-container{
        gap:24px
    }


}

@media(width>= 800px) and (width <= 1000px){

    .invitation__buttons-container{
        gap:24px
    }
}

@media (min-width: 1000px) {
    .invitation__buttons-container{
        flex-direction: row;
    }
}