
.link{
    width: 100%;
    text-align: center;
}

.custom-button {
    margin-bottom: 6px;
    font-weight: bold;
    transition: padding 300ms;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-family: Comfortaa, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
    height: 3rem;
   
  }

  .button-extra{
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: #04364A var(--tw-gradient-from-position);
    --tw-gradient-from-position:  ;
    --tw-gradient-to: rgb(4 54 74 / 0)  var(--tw-gradient-from-position);
    --tw-gradient-to-position:  ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #176B87 var(--tw-gradient-to-position);
    --tw-gradient-to-position:  ;
    border-radius: .5rem/* 8px */;
  }
  
  .custom-button:hover {
    padding-right: 7px;
  }

  