.base{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.56);
    -webkit-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.56);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base:hover{
    border: 1px solid var(--secondary-color);
    scale: 1.03;
}

.dark{
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.light{
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--black-color);
}

.small{
    padding: 8px 16px;
    border-radius: 8px;
}

.regular{
    padding: 16px 32px;
    border-radius: 16px;
}