.perfilamiento{
    font-family: 'Comfortaa';
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.barra-progreso {
    position: fixed;
    top: 0;
    left: 0px;
    height: 15px;
    background: #FAFAFA;
    transform-origin: 0%;
    transition: right .8s ease-out;
}

.separador{
    width: 100%;
}

.separador > hr{
    width: 100%;
    border: 15px solid #25272D;
}