.h-screen {
    height: 100vh;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 52px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  
  .title {
    font-family: 'Comfortaa';
    font-size: 5xl;
    width: 100%;
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
  }
  
  .select-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    padding-left: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  

  .span {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #04364A var(--tw-gradient-from-position);
    --tw-gradient-from-position:  ;
    --tw-gradient-to: rgb(4 54 74 / 0)  var(--tw-gradient-from-position);
    --tw-gradient-to-position:  ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    font-weight: 800;
}

  .select {
    width: 25%;
  }


  .opciones {
    width: fit-content;
    height: 2.5rem/* 40px */;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
    text-align: center;
    font-family: Comfortaa, sans-serif;
    border-bottom-width: 3px;
    border-radius: 3px;
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    cursor: pointer;
}
  
