.hero-container{
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 50% 5%, #04364A 0%, #25272D 100%),linear-gradient(0deg, #25272D 0%, #04364A 100%);
    display: flex;
    flex-direction: column;
    gap: 48px;
    /*padding: 174px 15% 0 15%; Para cuando se ponga la imagen*/
    padding: 60px 0 0 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.hero__title{
    font-size: 96px;
    line-height: 96px;
    padding: 0 15%;
    font-family: 'Poppins';
    text-align: center;
    text-wrap: pretty;
    color: var(--seasalt);
}

.hero__title--highlighted{
    color: var(--cerulean);
    font-weight: 600;
}

.hero__buttons-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.hero__text-container{
    padding: 0 40px;
    width: 100vw;
}

@media (width <= 640px){
    .hero__buttons-container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }
}
