.resultados{
    display: grid;
    padding: 5rem; 
    padding-left: 12rem; 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 1rem; 
    background-color: #E5E7EB;
}

@media (min-width: 768px) {
    .resultados{
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
}

@media (min-width: 1024px) { 
    .resultados{
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}