.invitation-container{
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 100vh;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(100% 100% at 45% 69%, #04364A 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #25272D 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #25272D 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #fafafa 1%, #FF000000 59%),radial-gradient(142% 91% at 111% 84%, #FAFAFA 1%, #04364A 62%);
}

.invitation__title{
    font-size: 96px;
    line-height: 96px;
    color: var(--white-color);
    text-align: center;
    font-family: 'Poppins';
    margin: 0 15%;
}

.invitation__title--highlighted{
    color: var(--secondary-color);
    font-weight: 600;
}

.invitation__buttons-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}