.footer__container{
    width: 100%;
    height: 552px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--raisin-black);
    gap: 48px;
}

.footer__separator{
    height: 60%;
}

.footer__logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer__link{
    transition: scale 0.3s ease;
}

.footer__link:hover{
    scale: 1.05;
}

.footer__icons-container{
    display: flex;
    gap: 12px;
}

.footer__form{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 444px;
}

.footer__form-label{
    color: var(--seasalt);
    font-size: 16px;

}

.footer__input{
    text-align: center;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    transition: all 0.1s;
}

.footer__input:focus{
    outline: 2px solid var(--cerulean);
}

#footer__message-input{
    height: 160px;
}

.footer__button{
    cursor: pointer;
}